.camera-view {
    max-width: 600px; /* Set the maximum width */
    max-height: 400px; /* Set the maximum height */
    display: block;
    margin: 0 auto; /* Center the video horizontally */
    padding: 20px; /* Add some padding around the video */
  }

  .capture-notification {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
    
  .camera-container {
    text-align: center;
    background: black; /* Background for content */
    display: flex; /* Using Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
  }
  .camera-container.processing .video-feed {
    outline: 2px solid yellow; /* Yellow outline for processing */
  }
  
  .camera-container.success .video-feed {
    outline: 2px solid green; /* Green outline for success */
  }
  
  .camera-container.error .video-feed {
    outline: 2px solid red; /* Red outline for error */
  }
  
  .processing-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
  }
  