

.calibration-container {
  text-align: center;
  background: white; /* Background for content */
}

.calibration-point {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}
.calibration-container.success {
  outline: 2px solid green;
  outline-offset: -2px; /* To draw the outline inside of the element */
  animation: fadeOut 2s;
}

.calibration-container.error {
  outline: 2px solid red;
  outline-offset: -2px; /* To draw the outline inside of the element */
  animation: fadeOut 2s;
}


@keyframes fadeOut {
  from { outline-opacity: 1; }
  to { outline-opacity: 0; }
}
  
  